.navbar-div {
    width: 100%;
    padding-block: 30px;
    margin-bottom: 10px;
    background-color: var(--color-main);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 90px;
}

.navbar-logo {
    font-family: var(--secondary-font);
    font-weight: 400;
}

.navbar-middle div {
    font-size: 0.8rem;
    font-weight: 700;
}

.navbar-right {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 0.8rem;
}

.sign-up-btn {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 0.8rem;
    background-color: var(--color-black);
    color: var(--color-white);
    padding-block: 5px;
    padding-inline: 30px;
    border-radius: 5px;
}

.user-info {

}

.user-avatar img{
    height: 30px;
    border-radius: 50px;
}

a {
    text-decoration: none;
    color: var(--color-black);
    margin: 0;
}
a:hover {
    color: black;
}
.navbar-item a:hover {
    color: gray;
}
.navbar-item {
    position: relative;
    margin-inline: 20px;
}
.active{
    position: absolute;
    bottom: -15px;
    color: var(--color-black);
    height: 11px;
    width: 11px;
    background-color: var(--color-gray-dark);
    border-radius: 50px;
}

.bottom-header {
    
}