.create-room-btn {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 1rem;
    
    color: var(--color-black);
    padding-block: 10px;
    padding-inline: 60px;
    border-radius: 5px;
    border: 0;
    
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--color-black);
    transition: background-color 1s;
}

.create-room-btn:hover {
    background-color: var(--color-light);
    color: black;
    /* border: 2px solid var(--color-secondary); */
}

.modal-div {
    padding: 30px;
    width: 500px;
    background-color: var(--color-black);
    color: var(--color-light);
    
}

.select-language {
    color: black;
}

.btn-close {
    background-color: var(--color-secondary);
}

.save-room-btn {
    background-color: var(--color-secondary);
    border: none;
    height: 38px;
    width: 100%;
    padding-inline: 50px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 40px;
}


@media (max-width: 1024px) {
    
}

@media (max-width: 867px) {
    .modal-div, .modal-content {
        width: 400px;
    }
}

@media (max-width: 550px) {
    .modal-div, .modal-content {
        /* width: 350px; */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px;
    }

    .save-room-btn {
        height: 50px;
        padding-inline: 5px;
    }

    .modal-title {
        font-size: 1.2rem;
    }
}