.search-room-div {
    margin-inline: 80px;
}

.search-results {
    background-color: var(--color-light);
    padding-inline: 30px;
    padding-block: 60px;
    margin-inline: 20px;
    border-radius: 5px;
}

.form-group {
    width: 100%;
    font-weight: 400;
    margin-inline: 20px;
}
.form-select {
    font-weight: 300;
    background-color: var(--color-light);
    border: 1px solid black;
    color: var(--color-dark);
}
.form-select:focus {
    text-decoration: none;
}

.reset-form-icon {
    font-size: 1.5rem;
    cursor: pointer;
    margin-block: 20px;
}

.room-preview-div {
    margin: 15px;
}

.form-area {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1024px) {
    .search-room-div {
        margin-inline: 20px;
    }
}

@media (max-width: 867px) {
    .search-room-div {
        margin-inline: 0px;
    }
    .create-room-btn {
        padding-inline: 30px;
    }

    .search-results {
        padding-inline: 10px;
        padding-block: 30px;
        margin-inline: 0;
    }
}

@media (max-width: 550px) {
    .form-area{
        display: flex;
        flex-direction: column;
    }
    .reset-form-div{
        /* background-color: antiquewhite; */
    }
}
